body {
    background-image: url(chitkara-university1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
}

.redbar {
    margin-top: 0.1%;
}

.one {
    width: 255px;
    border: 2px solid rgb(196, 194, 194);
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 13px;
    padding-bottom: 10px;
    margin-top: 90px;
    margin-left: 1100px;

    /* margin-right: 500px; */
}


.name {
    width: 230px;
    height: 20px;
}

.pass {
    width: 230px;
    height: 20px;
}

.session {
    width: 239px;
    height: 20px;
}

.main {
    padding-bottom: 250px;
    padding-left: 50px;
}

.two {
    width: 185px;
    margin: auto;
}

.submit {
    height: 30px;
    width: 200px;
    background-color: rgb(201, 43, 43);
    border: none;
    color: white;

}

.imglinks {
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.font {
    font-size: small;
}

.text {
    color: rgb(69, 69, 69);
}

img.a {
    vertical-align: middle;
}