body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:url("bg.jpg");
   
  height: 100%;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.form-container {
    border: groove;
    border-color: #000000;
    background-color: #c8e8fb;
    padding: 20px 40px;
    padding-top: 50px;
    border-radius: 10px;
    border-width: 7px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    position: static;
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 15px;
}


.form-group label {
    display: inline;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
.formNumber label {
    display: inline;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}


.form-group input[type="text"],

.form-group input[type="email"],
.form-group input[type="file"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #6db4eb;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}
input[type="number"]{
    width: 72%;
    height: 35px;
    color: #555
    

}
select{
    height: 40px;
}


.form-group input[type="text"]:hover,
.form-group input[type="number"]:hover,
.form-group input[type="email"]:hover,
.form-group input[type="file"]:hover,
.form-group textarea:hover,
.form-group select:hover,
.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="file"]:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #0f345b;
}


.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    margin-right: 10px;
}


.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3275bb;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #194675;
}